.popover {
  position: relative;
}

.popover:not(.expanded) .content {
  display: none;
}

.popover.left .content {
  inset: auto auto auto 0;
}

.popover.right .content {
  inset: auto 0 auto auto;
}

.content {
  background-color: var(--background);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--neutral-4);
  margin-block-start: 0.5rem;
  position: absolute;
}
