.popover {
  position: relative;
}

.popover:not(.expanded) .content {
  display: none;
}

.popover.left .content {
  inset: auto auto auto 0;
}

.popover.right .content {
  inset: auto 0 auto auto;
}

.content {
  background-color: var(--neutral-background);
  border-radius: 2px;
  border: 1px solid currentColor;
  box-shadow: 1px 1px currentColor;
  margin-block-start: 0.25rem;
  position: absolute;
}
