.popover {
  position: relative;
}

.popover:not(.expanded) .content {
  display: none;
}

.popover.left .content {
  inset: auto auto auto 0;
}

.popover.right .content {
  inset: auto 0 auto auto;
}

.content {
  background-color: var(--background-1);
  border-radius: 0.25rem;
  box-shadow:
    0 0.125rem rgba(0, 0, 0, 0.075),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
  margin-block-start: 0.25rem;
  position: absolute;
}
