.input {
  align-items: center;
  background-color: var(--background);
  border: 0.125rem solid var(--neutral-2);
  border-radius: 0.25rem;
  color: var(--neutral-5);
  display: flex;
  height: 2.125rem;
  padding-inline: 0.5rem;
  width: 100%;
}

.input:is(:focus, :hover) {
  border-color: var(--neutral-4);
  outline: 0;
}

.input::placeholder {
  color: var(--neutral-3);
}
