.input {
  align-items: center;
  background-color: var(--background);
  border: var(--thick) solid var(--neutral-4);
  border-radius: var(--radius);
  display: flex;
  height: 2.125rem;
  padding-inline: 0.5rem;
  /* width: 100%; */
}

.input:is(:focus, :hover) {
  border-color: var(--neutral-2);
  outline: 0;
}

.input::placeholder {
  color: var(--neutral-4);
}
