# npm modules.
node_modules

# TypeScript files.
*.tsbuildinfo

# Next.js files.
build
next-env.d.ts
.next

# Local environment config.
.env
.env*.local

# Database files.
*.sqlite
*.sqlite-journal

# Temporary files.
tmp/*