.button {
  align-items: center;
  display: flex inline;
  font-weight: 700;
}

.button:active:not(:disabled) {
  translate: 0 0.125rem;
}

.button.text {
  color: var(--color);
}

.button.rectangle {
  border-radius: var(--radius);
  gap: 0.25rem;
  height: 2.125rem;
  padding-inline: 0.75rem;
}

.button.pill {
  border-radius: 2.125rem;
  gap: 0.25rem;
  height: 2.125rem;
  padding-inline: 0.75rem;
}

.button.solid {
  background-color: var(--color);
  color: var(--background);
}

.button.outline {
  border: var(--thick) solid currentColor;
  color: var(--color);
}

.button.neutral {
  --color: var(--neutral-1);
}

.button.neutral:is(:hover, :focus-visible) {
  --color: var(--neutral-3);
}

.button.interactive {
  --color: var(--interactive-3);
}

.button.interactive:is(:hover, :focus) {
  --color: var(--interactive-4);
}

.button.positive {
  --color: var(--positive-3);
}

.button.positive:is(:hover, :focus) {
  --color: var(--positive-4);
}

.button.negative {
  --color: var(--negative-3);
}

.button.negative:is(:hover, :focus) {
  --color: var(--negative-4);
}

.button.attentive {
  --color: var(--attentive-3);
}

.button.attentive:is(:hover, :focus) {
  --color: var(--attentive-4);
}
