.button {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  font-weight: 700;
}

.button:active:not(:disabled) {
  translate: 0 0.125rem;
}

.button.rectangle {
  border-radius: var(--radius);
  height: 2.25rem;
  padding-inline: 0.75rem;
}

.button.pill {
  border-radius: 2.25rem;
  height: 2.25rem;
  padding-inline: 0.875rem;
}

.button.text {
  display: flex inline;
  color: var(--default-color);
}

.button.text:is(:hover, :focus-visible) {
  color: var(--active-color);
}

.button.solid {
  background-color: var(--default-color);
  color: var(--background);
}

.button.solid:is(:hover, :focus-visible) {
  background-color: var(--active-color);
}

.button.outline {
  border: var(--thick) solid currentColor;
  color: var(--default-color);
}

.button.outline:is(:hover, :focus-visible) {
  color: var(--active-color);
}

.button.neutral {
  --default-color: var(--neutral-1);
  --active-color: var(--neutral-3);
}

.button.interactive {
  --default-color: var(--interactive-3);
  --active-color: var(--interactive-4);
}

.button.positive {
  --default-color: var(--positive-3);
  --active-color: var(--positive-4);
}

.button.negative {
  --default-color: var(--negative-3);
  --active-color: var(--negative-4);
}

.button.attentive {
  --default-color: var(--attentive-3);
  --active-color: var(--attentive-4);
}
