.button {
  align-items: center;
  display: flex inline;
  font-weight: 700;
}

.button:active:not(:disabled) {
  translate: 0 0.125rem;
}

.button.text {
  color: var(--color);
}

.button.rectangle {
  background-color: var(--color);
  border-radius: 0.375rem;
  color: var(--background);
  gap: 0.25rem;
  height: 2.125rem;
  padding-inline: 0.75rem;
}

.button.pill {
  background-color: var(--background);
  border-radius: 2.125rem;
  border: 0.125rem solid var(--color);
  color: var(--color);
  gap: 0.25rem;
  height: 2.125rem;
  padding-inline: 0.75rem;
}

.button.neutral {
  --color: var(--neutral);
}

.button.neutral:is(:hover, :focus-visible) {
  --color: var(--neutral-highlight);
}

.button.primary {
  --color: var(--primary);
}

.button.primary:is(:hover, :focus) {
  --color: var(--primary-highlight);
}

.button.positive {
  --color: var(--positive);
}

.button.positive:is(:hover, :focus) {
  --color: var(--positive-highlight);
}

.button.negative {
  --color: var(--negative);
}

.button.negative:is(:hover, :focus) {
  --color: var(--negative-highlight);
}

.button.attentive {
  --color: var(--attentive);
}

.button.attentive:is(:hover, :focus) {
  --color: var(--attentive-highlight);
}
