.text {
}

.text.neutral {
  color: var(--neutral-3);
}

.text.positive {
  color: var(--positive-3);
}

.text.negative {
  color: var(--negative-3);
}

.text.attentive {
  color: var(--attentive-3);
}

.text.muted {
  color: var(--neutral-3);
}

.text.smaller {
  font-size: 0.875em;
}

.text.larger {
  font-size: 1.125em;
}
