.menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-block: 0.25rem;
}

.item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  white-space: nowrap;
}

.item:is(:hover, :focus-visible) {
  background-color: var(--neutral-5);
}

.separator {
  padding-block: 0.25rem;
  width: 100%;
}

.separator hr {
  border-top: var(--thick) solid var(--neutral-4);
}
