.menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-block: 0.25rem;
}

.item {
  align-items: center;
  display: flex;
  height: 2.125rem;
  padding-inline: 0.75rem;
  width: 100%;
  white-space: nowrap;
}

.item:is(:hover, :focus-visible) {
  background-color: var(--neutral-1);
  color: var(--neutral-4);
}

.separator {
  padding-block: 0.25rem;
  width: 100%;
}
