.input {
  align-items: center;
  background-color: var(--background);
  border-radius: 3px;
  border: 2px inset #ccc;
  /* box-shadow: inset 1px 1px currentColor; */
  color: var(--neutral);
  display: flex;
  height: 2.5rem;
  padding-inline: 0.5rem;
  width: 100%;
}

.input:is(:focus, :hover) {
  color: var(--neutral);
}

.input::placeholder {
  color: var(--neutral-highlight);
}
