.input {
  align-items: center;
  background-color: var(--background);
  border-radius: 0.25rem;
  border: 0.125rem solid var(--outline);
  box-shadow: inset 0 0.125rem
    color-mix(in srgb, var(--background) 87.5%, var(--foreground));
  display: flex;
  height: 2.25rem;
  padding-inline: 0.25rem;
  width: 100%;
}

.input:focus {
  border-color: currentColor;
}
