.input {
  align-items: center;
  background-color: var(--background);
  border-radius: var(--radius);
  border: 1px solid;
  color: var(--neutral);
  display: flex;
  height: 2.5rem;
  padding-inline: 0.5rem;
  width: 100%;
}

.input:is(:focus, :hover) {
  color: var(--neutral);
}

.input::placeholder {
  color: var(--neutral-highlight);
}
