.data {
  display: grid;
  gap: 1rem 2rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.entry {
}

.label,
.value {
}

.label {
  font-size: 0.875rem;
  font-weight: bolder;
}

.value {
}
