.data {
  display: grid;
  gap: 0.75rem 1.5rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.entry {
  display: grid;
  grid-template: auto auto / max-content auto;
  gap: 0 1rem;
}

.label,
.value {
}

.label {
  grid-column: span 2;
  font-size: 0.875rem;
  font-weight: bolder;
}

.value {
}
