.layout {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: 1fr minmax(22.5rem, 64rem) 1fr;
}

.layout > * {
  grid-column: 2 / span 1;
  padding: 4.5rem 1.5rem;
}
