.footer {
  align-items: center;
  display: grid;
  font-size: 0.875rem;
  gap: 3rem;
  grid-template: auto / 1fr auto auto 1fr;
  height: 5rem;
  padding-inline: 1.5rem;
}

.version {
  color: var(--foreground-2);
  justify-self: end;
}
