.field {
}

.field:focus-within {
}

.label {
  font-size: 0.875rem;
}

.hint {
  color: var(--foreground-2);
  font-size: 0.875rem;
}

.invalid {
  color: var(--negative-1);
}

.valid {
  color: var(--positive-1);
}
