.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 500;
}

.button:focus {
}

.button:active:not(:disabled) {
  translate: 0 0.125rem;
}

.button:disabled {
  filter: grayscale(1);
}

.button.small {
  font-size: 0.875rem;
}

.button.medium {
  font-size: 1rem;
}

.button.large {
  font-size: 1.125rem;
}

.button.primary {
  --color: var(--primary-1);
}

.button.neutral {
  --color: var(--foreground-1);
}

.button.positive {
  --color: var(--positive-1);
}

.button.negative {
  --color: var(--negative-1);
}

.button.attentive {
  --color: var(--attentive-1);
}

.button.text {
  color: var(--color);
  gap: 0.25rem;
}

.button.text.large {
  font-size: 1.125rem;
}

.button:is(.rectangle, .pill) {
  box-shadow:
    inset 0 0.25rem hsla(0, 0%, 100%, 0.125),
    0 0.25rem hsla(0, 0%, 0%, 0.125);
  gap: 0.5rem;
}

.button:is(.rectangle, .pill).small {
  height: 2.25rem;
  padding-inline: 1rem;
}

.button:is(.rectangle, .pill).medium {
  height: 2.5rem;
  padding-inline: 1.5rem;
}

.button:is(.rectangle, .pill).large {
  height: 3rem;
  padding-inline: 1.5rem;
}

.button:is(.primary, .positive, .negative, .attentive):is(.rectangle, .pill) {
  color: var(--background-1);
  background-color: var(--color);
}

.button.neutral:is(.rectangle, .pill) {
  background-color: var(--background-1);
  border: 0.125rem solid var(--color);
  color: var(--color);
}

.button:active:not(:disabled):is(.rectangle, .pill) {
  box-shadow: inset 0 0.25rem hsla(0, 0%, 0%, 0.1);
}

.button.rectangle {
  border-radius: 0.25rem;
}

.button.pill {
  border-radius: 3rem;
}
