.button {
  align-items: center;
  border-radius: 0.125rem;
  display: flex;
  font-weight: 500;
  gap: 0.125rem;
}

.button:active:not(:disabled) {
  translate: 0 0.125rem;
}

.button.small {
  font-size: 0.875rem;
}

.button.medium {
  font-size: 1rem;
}

.button.large {
  font-size: 1.25rem;
}

.button.neutral {
  color: var(--neutral);
}

.button.neutral:is(:hover, :focus) {
  background-color: var(--neutral-background);
  box-shadow: 0 0 0 0.25em var(--neutral-background);
  color: var(--neutral-highlight);
}

.button.primary {
  color: var(--primary);
}

.button.primary:is(:hover, :focus) {
  background-color: var(--primary-background);
  box-shadow: 0 0 0 0.25em var(--primary-background);
  color: var(--primary-highlight);
}

.button.positive {
  color: var(--positive);
}

.button.positive:is(:hover, :focus) {
  background-color: var(--positive-background);
  box-shadow: 0 0 0 0.25em var(--positive-background);
  color: var(--positive-highlight);
}

.button.negative {
  color: var(--negative);
}

.button.negative:is(:hover, :focus) {
  background-color: var(--negative-background);
  box-shadow: 0 0 0 0.25em var(--negative-background);
  color: var(--negative-highlight);
}

.button.attentive {
  color: var(--attentive);
}

.button.attentive:is(:hover, :focus) {
  background-color: var(--attentive-background);
  box-shadow: 0 0 0 0.25em var(--attentive-background);
  color: var(--attentive-highlight);
}
