.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 400;
}

.button:active:not(:disabled) {
  translate: 1px 1px;
}

.button.small {
  font-size: 0.875rem;
}

.button.medium {
  font-size: 1rem;
}

.button.text {
  gap: 0.25rem;
}

.button.text.large {
  font-size: 1.125rem;
}

.button.text.neutral {
  color: var(--neutral);
}

.button.text.neutral:is(:hover, :focus) {
  color: var(--neutral-highlight);
}

.button.text.primary {
  color: var(--primary);
}

.button.text.primary:is(:hover, :focus) {
  color: var(--primary-highlight);
}

.button.text.positive {
  color: var(--positive);
}

.button.text.positive:is(:hover, :focus) {
  color: var(--positive-highlight);
}

.button.text.negative {
  color: var(--negative);
}

.button.text.negative:is(:hover, :focus) {
  color: var(--negative-highlight);
}

.button.text.attentive {
  color: var(--attentive);
}

.button.text.attentive:is(:hover, :focus) {
  color: var(--attentive-highlight);
}

.button:is(.rectangle, .pill) {
  border: 1px solid currentColor;
  line-height: 1.25;
  gap: 0.25rem;
}

.button:is(.rectangle, .pill).small {
  height: 2.25rem;
  padding-inline: 1rem;
}

.button:is(.rectangle, .pill).medium {
  height: 2.5rem;
  padding-inline: 1.5rem;
}

.button:is(.rectangle, .pill).large {
  height: 3rem;
  padding-inline: 1.5rem;
}

.button:is(.rectangle, .pill).neutral {
  background-color: var(--neutral);
  color: var(--background);
}

.button:is(.rectangle, .pill).neutral:is(:hover, :focus) {
  background-color: var(--neutral-highlight);
  color: var(--background);
}

.button:is(.rectangle, .pill).primary {
  background-color: var(--primary);
  color: var(--background);
}

.button:is(.rectangle, .pill).primary:is(:hover, :focus) {
  background-color: var(--primary-highlight);
  color: var(--background);
}

.button:is(.rectangle, .pill).positive {
  background-color: var(--positive);
  color: var(--background);
}

.button:is(.rectangle, .pill).positive:is(:hover, :focus) {
  background-color: var(--positive-highlight);
  color: var(--background);
}

.button:is(.rectangle, .pill).negative {
  background-color: var(--negative);
  color: var(--background);
}

.button:is(.rectangle, .pill).negative:is(:hover, :focus) {
  background-color: var(--negative-highlight);
  color: var(--background);
}

.button:is(.rectangle, .pill).attentive {
  background-color: var(--attentive);
  color: var(--background);
}

.button:is(.rectangle, .pill).attentive:is(:hover, :focus) {
  background-color: var(--attentive-highlight);
  color: var(--background);
}

.button.rectangle {
  border-radius: var(--radius);
}

.button.pill {
  border-radius: 3rem;
}
