.card {
  /* border: var(--thickness) solid var(--neutral-4); */
  background-color: var(--neutral-5);
}

.card.medium {
  border-radius: var(--radius);
  padding: 0.75rem 0.75rem;
}

a:is(:hover, :focus) .card {
  border-color: var(--neutral-2);
}
