.card {
  background-color: var(--neutral-5);
}

.card.medium {
  border-radius: var(--radius);
  padding: 0.75rem 0.75rem;
}

.card.large {
  border-radius: var(--radius);
  padding: 1.5rem;
}

a:is(:hover, :focus) .card {
  background-color: var(--interactive-5);
}
