.heading {
  font-weight: 700;
  line-height: 1;
}

.heading.massive {
  font-size: 2.5rem;
}

.heading.large {
  font-size: 2rem;
}

.heading.medium {
  font-size: 1.5rem;
}

.heading.small {
  font-size: 1.25rem;
  line-height: 1.25;
}
