.alert {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

.alert.neutral {
  background-color: var(--neutral-1);
}

.alert.positive {
  background-color: var(--positive-1);
  color: var(--positive-4);
}

.alert.negative {
  background-color: var(--negative-1);
  color: var(--negative-4);
}

.alert.attentive {
  background-color: var(--attentive-1);
  color: var(--attentive-4);
}
