.alert {
  border-radius: var(--radius);
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
}

.alert.neutral {
  background-color: var(--neutral-5);
}

.alert.positive {
  background-color: var(--positive-5);
  color: var(--positive-3);
}

.alert.negative {
  background-color: var(--negative-5);
  color: var(--negative-3);
}

.alert.attentive {
  background-color: var(--attentive-5);
  color: var(--attentive-3);
}
