.modal {
  background-color: var(--background);
  border-radius: var(--radius);
  inset-inline: 0;
  top: 5%;
  margin: auto;
  max-width: 48rem;
  overflow: auto;
  padding: 1.5rem;
  position: relative;
  width: 90%;
}

.modal::backdrop {
  background-color: hsla(0, 0%, 0%, 0.25);
}

.close {
  float: right;
  font-size: 1.5rem;
}
