:root {
  --background: #ffffff;

  --attentive-1: #ffeeb9;
  --attentive-2: #d7b44f;
  --attentive-3: #917200;
  --attentive-4: #4a3900;
  --attentive-5: #171000;

  --negative-1: #ffebe4;
  --negative-2: #f1a591;
  --negative-3: #c45138;
  --negative-4: #64281b;
  --negative-5: #230800;

  --neutral-1: #f1f1f1;
  --neutral-2: #b9b9b9;
  --neutral-3: #777;
  --neutral-4: #3b3b3b;
  --neutral-5: #111;

  --positive-1: #eff3d5;
  --positive-2: #b3be7b;
  --positive-3: #688000;
  --positive-4: #344000;
  --positive-5: #101200;

  --interactive-1: #edf0ff;
  --interactive-2: #abb7ef;
  --interactive-3: #4e75d4;
  --interactive-4: #2a3a68;
  --interactive-5: #0d101e;

  --min-width: 22.5rem;
  --max-width: 64rem;
  --breakpoint: 48rem;
}

/* @custom-media --small-viewport (width < 48rem); */
/* @custom-media --large-viewport (width >= 48rem); */

html {
  background-color: var(--background);
  color: var(--neutral-4);
}

hr {
  border-top: 1px solid var(--neutral-2);
}

body {
  font-size: 0.875rem;
}

@keyframes autofill {
  to {
    background: transparent;
    color: inherit;
    font: inherit;
  }
}

input:-webkit-autofill {
  animation: autofill 1s forwards;
}
