:root {
  --background: #ffffff;

  --neutral-1: #f5f5f5;
  --neutral-2: #b9b9b9;
  --neutral-3: #848484;
  --neutral-4: #565656;
  --neutral-5: #2a2a2a;

  --negative-1: #fdf5f3;
  --negative-2: #eda89a;
  --negative-3: #de5a40;
  --negative-4: #9e311c;
  --negative-5: #4e190e;

  --positive-1: #f0f7e9;
  --positive-2: #97c766;
  --positive-3: #57931a;
  --positive-4: #396211;
  --positive-5: #1c2f09;

  --attentive-1: #fff5d5;
  --attentive-2: #eab000;
  --attentive-3: #a87e00;
  --attentive-4: #6e5300;
  --attentive-5: #362800;

  --interactive-1: #f2f6fd;
  --interactive-2: #9fbaee;
  --interactive-3: #5282e1;
  --interactive-4: #2051b4;
  --interactive-5: #102859;

  --min-width: 22.5rem;
  --max-width: 64rem;
  --breakpoint: 48rem;
}

/* @custom-media --small-viewport (width < 48rem); */
/* @custom-media --large-viewport (width >= 48rem); */

html {
  background-color: var(--background);
  color: var(--neutral-5);
}

hr {
  border-top: 1px solid var(--neutral-2);
}

body {
  font-size: 0.875rem;
}

@keyframes autofill {
  to {
    background: transparent;
    color: inherit;
    font: inherit;
  }
}

input:-webkit-autofill {
  animation: autofill 1s forwards;
}
