@import "resetize";

:root {
  --background: #ffffff;

  --negative-1: #120806;
  --negative-2: #743128;
  --negative-3: #c74d40;
  --negative-4: #e59687;
  --negative-5: #fef4f2;

  --attentive-1: #100a00;
  --attentive-2: #5d4100;
  --attentive-3: #996f00;
  --attentive-4: #cca453;
  --attentive-5: #fbf6ed;

  --positive-1: #090c00;
  --positive-2: #344e00;
  --positive-3: #5a8200;
  --positive-4: #97b64c;
  --positive-5: #f5f8ed;

  --interactive-1: #080b10;
  --interactive-2: #284a6b;
  --interactive-3: #367cba;
  --interactive-4: #8fafd6;
  --interactive-5: #f4f7fb;

  --neutral-1: #0b0b0b;
  --neutral-2: #474747;
  --neutral-3: #777;
  --neutral-4: #ababab;
  --neutral-5: #f6f6f6;

  --radius: 0.25rem;
  --thick: 2px;

  --min-width: 22.5rem;
  --max-width: 64rem;

  --breakpoint: 48rem;
}

/* @custom-media --small-viewport (width < 48rem); */
/* @custom-media --large-viewport (width >= 48rem); */

html {
  background-color: var(--background);
  color: var(--neutral-1);
  font-size: 14px;
  scrollbar-gutter: stable;
}

hr {
  border-top: var(--thick) solid var(--neutral-5);
}
