@layer {
  html,
  body,
  address,
  article,
  aside,
  footer,
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  main,
  nav,
  section,
  blockquote,
  dd,
  div,
  dl,
  dt,
  figcaption,
  figure,
  hr,
  li,
  ol,
  p,
  pre,
  ul,
  a,
  abbr,
  b,
  bdi,
  bdo,
  br,
  cite,
  code,
  data,
  dfn,
  em,
  i,
  kbd,
  mark,
  q,
  rb,
  rp,
  rt,
  rtc,
  ruby,
  s,
  samp,
  small,
  span,
  strong,
  sub,
  sup,
  time,
  u,
  var,
  wbr,
  area,
  audio,
  img,
  map,
  track,
  video,
  embed,
  iframe,
  object,
  param,
  picture,
  source,
  canvas,
  noscript,
  script,
  del,
  ins,
  caption,
  col,
  colgroup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  button,
  datalist,
  fieldset,
  form,
  input,
  label,
  legend,
  meter,
  optgroup,
  option,
  output,
  progress,
  select,
  textarea,
  details,
  dialog,
  menu,
  menuitem,
  summary {
    all: unset;
    display: revert;
  }

  input[type="number"] {
    appearance: textfield;
  }

  ::-webkit-inner-spin-button {
    all: unset;
  }

  ::-webkit-outer-spin-button {
    all: unset;
  }

  ::-webkit-color-swatch-wrapper {
    all: unset;
  }

  ::-webkit-color-swatch {
    all: unset;
  }

  ::-moz-color-swatch {
    all: unset;
  }

  ::-webkit-file-upload-button {
    all: unset;
  }

  ::-webkit-search-cancel-button {
    all: unset;
  }

  ::-webkit-search-results-button {
    all: unset;
  }

  ::-webkit-search-results-decoration {
    all: unset;
  }

  ::-webkit-slider-thumb {
    all: unset;
  }

  ::-webkit-slider-runnable-track {
    all: unset;
  }

  ::-moz-range-thumb {
    all: unset;
  }

  ::-moz-range-track {
    all: unset;
  }

  ::-moz-range-progress {
    all: unset;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    all: unset;
  }

  ::-webkit-calendar-picker-indicator {
    all: unset;
  }

  [list]::-webkit-calendar-picker-indicator {
    list-style: none !important;
  }

  ::-webkit-progress-bar {
    all: unset;
  }

  ::-webkit-progress-value {
    all: unset;
  }

  ::-moz-progress-bar {
    all: unset;
  }
}
