.field {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.field:focus-within {
}

.label {
  font-weight: 700;
  line-height: 1.25;
}

.hint {
  color: var(--neutral-3);
  font-size: 0.875rem;
}

.invalid {
  color: var(--negative-4);
}

.valid {
  color: var(--positive-4);
}
