.heading {
  font-weight: 700;
}

.heading.massive {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.heading.large {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1px;
}

.heading.medium {
  font-size: 1.5rem;
  line-height: 1.125;
}

.heading.small {
  font-size: 1.25rem;
}
