.heading {
  font-weight: 900;
  line-height: 1.125;
}

.heading.level-1 {
  font-size: 2rem;
  line-height: 1;
}

.heading.level-2 {
  font-size: 1.75rem;
}

.heading.level-3 {
  font-size: 1.5rem;
}

.heading.level-4 {
  font-size: 1.25rem;
}

.heading.level-5 {
  font-size: 1rem;
}
