.alert {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.alert.neutral {
  background-color: whitesmoke;
}

.alert.positive {
  background-color: var(--positive-3);
  color: var(--positive-1);
}

.alert.negative {
  background-color: var(--negative-3);
  color: var(--negative-1);
}

.alert.attentive {
  background-color: var(--attentive-3);
  color: var(--attentive-1);
}
