.alert {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.alert.neutral {
  background-color: whitesmoke;
}

.alert.positive {
  background-color: var(--positive-background);
  color: var(--positive);
}

.alert.negative {
  background-color: var(--negative-background);
  color: var(--negative);
}

.alert.warning {
  background-color: var(--warning-background);
  color: var(--warning);
}
