:root {
  --primary: #3046e4;
  --primary-highlight: #7874ff;
  --primary-background: #f8f4ff;

  --attentive: #765800;
  --attentive-highlight: #ae8700;
  --attentive-background: #fef6e8;

  --positive: #006d00;
  --positive-highlight: #2ea123;
  --positive-background: #f0f9ec;

  --negative: #a93108;
  --negative-highlight: #e76336;
  --negative-background: #fff3ed;

  --neutral: #1b1b1b;
  --neutral-highlight: #8c8c8c;
  --neutral-background: #f6f6f6;

  --background: #fff;

  --min-width: 22.5rem;
  --max-width: 64rem;
  --breakpoint-large: 48rem;
}

/* @custom-media --small-viewport (width < 48rem); */
/* @custom-media --large-viewport (width >= 48rem); */

html {
  background-color: var(--background);
  color: var(--neutral);
}
