:root {
  --background: #0c0c0d;

  --neutral: #f6f6f7;
  --neutral-highlight: #898d92;
  --neutral-outline: #585c61;
  --neutral-background: #1a1b1d;

  --primary: #4a8cea;
  --primary-highlight: #005cb1;
  --primary-background: #0d1b32;

  --positive: #5a9e00;
  --positive-highlight: #266b00;
  --positive-background: #181f00;

  --attentive: #c17e00;
  --attentive-highlight: #864f00;
  --attentive-background: #2b1800;

  --negative: #f8522d;
  --negative-highlight: #b71400;
  --negative-background: #370e00;

  --min-width: 22.5rem;
  --max-width: 64rem;
  --breakpoint: 48rem;
}

/* @custom-media --small-viewport (width < 48rem); */
/* @custom-media --large-viewport (width >= 48rem); */

html {
  background-color: var(--background);
  color: var(--neutral);
}

hr {
  border-top: 1px solid var(--neutral-outline);
}

body {
  font-size: 0.875rem;
}
