/* Hard reset everything that is not under SVG namespace but revert display property to browser's default. */

* {
  all: unset;
  display: revert;
}

/* Better control when sizing elements. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix inheritance in pseudo-elements. */

::before,
::after {
  font: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

/* Fix hidden attribute. */

[hidden] {
  display: none;
}

/* Fix text wrapping. */

pre,
textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Fix issues with box height. */

input,
select,
textarea {
  vertical-align: bottom;
}

textarea {
  resize: auto;
}

/* Enable smooth scroll avoiding issues with find in page. */

html:focus-within {
  scroll-behavior: smooth;
}

/* Nicer defaults. */

html {
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  font:
    16px/1.5 system-ui,
    sans-serif;
  overflow-wrap: break-word;
  tab-size: 4;
  text-size-adjust: 100%;
}

pre {
  overflow: auto;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  cursor: pointer;
}

svg:not([fill]) {
  fill: currentColor;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

li {
  list-style: none;
}

/* Fix dimensions of media. */

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

/* Faster rendering with easier styling, and fix text indentation in tables. */

table {
  table-layout: fixed;
  text-indent: 0;
}

/* Reset focus outline. */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: none;
}

:focus-visible {
  outline: none;
}

/* Accessbility defaults. */

[aria-busy="true"] {
  cursor: progress;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
